<div id=nav>
	<NavLink href="/">Home</NavLink> |
	<NavLink href="/counter">Counter</NavLink> |
	<NavLink href="/todo">Todo</NavLink>
</div>

<style>
	div#nav{
		background-color:#DDEEFF;
	}
</style>